body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color:#252839
;
    color: rgb(136, 146, 176);
    line-height: 1.3;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 20px;
    margin: 0px;
}

.kush-centerheader {
  text-align: center;
  background-color: white;
  
  background-image:url(https://source.unsplash.com/WLUHO9A_xik/1600x900);
  
}

.kush-profile-pic {
  border-radius: 50%;
  border-left-width: 50%;
  border-right-color: blue
}

.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}
div.lo
{
    background-color: #252839;
    color: #00ffde;
    font-weight: bolder;
    border: 2px solid;
    width: 76%;
    text-align: center;
    margin: auto;
    padding: 20px;
    /* margin-left: 150px; */
    border-radius: 60px;
    border: 7px double ;
  }

div.po{
    
  
    color: #f2b632;
    font-weight: bolder;
    
    text-align: center;
   
  /* margin-left: 150px; */}
